<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420731290118-54msuguk5qd981k7uau1vs8hi855dmnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420731290118-54msuguk5qd981k7uau1vs8hi855dmnv</string>
	<key>API_KEY</key>
	<string>AIzaSyDehhP5R6mi3js1-1ttV59_IDMBh8Zy0Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>420731290118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdanZyk.HappyMeMeditation</string>
	<key>PROJECT_ID</key>
	<string>happy-me-meditation</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-me-meditation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420731290118:ios:ebf342ad324b0adf2b7987</string>
</dict>
</plist>